.wrapper {
  margin-top: 60px;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.details {
  margin-top: 10px;
  font-size: 14px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button, .pagination span {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button[disabled] {
  cursor: not-allowed;
  background-color: #ccc;
}
